<h1>Welcom On Demo App</h1>

<%= link_to "Log In", {:action => "log_in", :controller => "authentication"}%><br>
<br>
<%= link_to "Register User", {:action => "new"}%><br>
<br>
<%= link_to "Forgot Password", {:action => "forgot_password", :controller => "login"}%>
