<h1>Log IN</h1>
<%= form_tag :action => 'sign_in' do %>
<p><label for = "username">Username</label>:

<%= text_field 'username' %></p>
<p><label for = "password">Password</label>:

<%= text_field 'password' %></p>
<%= submit_tag "LogIn" %>

<% end -%>